<!-- [] -  говорят ангуляру что мы будем связывать этот аттрибут с данными -->
<!-- {{ не следят за изменением данных }} -->
<!-- [] это одностороннее связывание, поменялось в кооде поменялось в шаблоне -->
<!--<button [disabled]="!canAddCar" class="btn btn-primary">-->
<!--() это тип связывания из шаблона в код, передаем название метода при click-->
<button class="btn btn-primary" (click)="addCar()">
  Add a car
</button>
<p>{{ addCarStatus }}</p>
<hr>

<!--<input type="text" class="form-control" (keyup)="onKeyUp($event)"/>-->
<!--<input type="text" class="form-control" (input)="onKeyUp($event)"/>-->
<!-- #создали переменную занчение которой и передали в событие-->
<!--<input type="text" class="form-control" (input)="onKeyUp(myInp.value)" #myInp/>-->
<!-- что б отлавливать только нажатие какой то кнопки-->
<input type="text" class="form-control" (keyup.enter)="onKeyUp($event)"/>
<p> {{ inputTextFirst }}</p>
<input type="text" class="form-control" [(ngModel)]="inputTextSecond">
<p> {{ inputTextSecond }}</p>
<app-car></app-car>
<app-car></app-car>
<app-car></app-car>
